*{
    font-family: 'ABeeZee';
}
body{
    width: 100%;
    height: 100%;
    /* ini nanti menyesuaikan sama gambar yang untuk background */
    background-image: url("login-circ-left.svg"),url("login-circ-right.svg"),url("login-person-left.svg"),url("login-person-right.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, fixed;
    background-position: left top 31px, right top, left bottom -20px,  right bottom;
}
.container-sm{
    max-width:380px !important;
    height: 435px;
    background-color: #E76B65;
    position: relative;
    top: 150px;
    border-radius: 38px;
    border-style: solid ;
    border-width: 2px;
}
.login-img{
    width:100px;
    position: absolute;
    left: 50%;
    top:45px;
    transform: translate(-50%, 0);
}
.login-greet{
    width:300px;
    text-align: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, 0);
    color:white
}
.btn-warning{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, 130px);
    background-color: #FFDD63 !important;
    border-color: black !important;
    border-radius: 0 !important;
    border-width: 2px !important;
    width:125px;
}
.login-form{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, 40px);
    border-color: black;
    border-width: 2px;
}