{% extends 'login/base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="container-sm">
        <img class="login-img" src="{% static 'login/login-img.png' %}">
        <p class="login-greet">Masukkan Username Mu!</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
    </div>
</body>
{% endblock %}
</html>