{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Daftar nilai kamu</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Kategori</th>
            <th scope="col">Nilai</th>
          </tr>
        </thead>
        <tbody>
        {% if tipe_nilai %} {% for tipe in tipe_nilai %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ tipe.nama_nilai }}</td>
            <td>{{ tipe.isian_nilai }}</td>
            <td><a href="{% url 'nilai:hapus' tipe.id %}" id="hapus">
              <button type="button" class="btn btn-danger">Hapus</button>
          </a>
        </td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
      <a href="/nilaimu/input_nilai" id="input_nilai">
        <button type="button" class="btn btn-success">Tambah</button>
    </a>
</div>

{% endblock %}