/* ini bagian css template yang harus ada di setiap app */
*{
    font-family: 'ABeeZee';
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 230px;
    /* ini nanti menyesuaikan sama gambar yang untuk background */
    background-image: url("homepage-circ.svg"),url("homepage-circ2.svg"),url("homepage-person.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, scroll, scroll;
    background-position: 202px bottom, top right 120px,  top 20px left 15%;
}
.halo{
    background-color: black;
    color: white;
    height: 170px ;
    padding-top: 0;
    position: relative;
    top: 0;
    padding: 45px 8px 6px 30px;
}
.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-style: solid solid none none;
    border-width: 2px;
    overflow-x: hidden;
    
  }
  
  .sidenav a {
    padding: 20px 8px 6px 30px;
    text-decoration: none;
    font-size:18px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color:black;
  }
  .btn-outline-dark{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,0);
  }

  /* ini udah bukan template */
  .welcome-message{
    width: 450px;
    position: absolute;
    bottom: 200px;
    right: 50px;
  }
  .welcome-message h2{
    font-size: 18px ;
  }
  .stay-productive{
    width: 450px;
    position: absolute;
    bottom: 130px;
    right: 50px;
  }
  .stay-productive h1{
    font-size: 24px;
  }
  