{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<body>

{% for i in notes %}
    <div class="center_div offset-md-4"> 
        <h3> {{i.judulcatatan}}</h3>
        <div class="col-8">
            {{i.isicatatan}}
        </div>
    </div>
    <br><br>
    <div class="center_div offset-md-4"> 
        <a href="/catatan">
            <button type="submit" class="btn btn-success">Back</button>
        </a>
        <a href="/catatan/delete/{{ i.judulcatatan }}">
            <button type="submit" class="btn btn-success">Delete</button>
        </a>
    <br>
    </div>
    {% endfor %}

</body>
{% endblock%}
</html>