{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container">
        <h1> Notes </h1>
        <form method="POST" class="post-form" action="">
            {% csrf_token %}
            <div class ="form-group row justify-content-between">
                <div class="col-4">
                    {{form.judulcatatan}}
                </div>
                <div class="col-4">
                <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Isi:</label>  
                <div class="col-4">  
                    {{ form.isicatatan}}  
                </div>
            </div>
        </form>
    </div>
    


    <h2>Lihat Catatan:</h2>
        {% for i in notes %}
        <ul>
            <li><a href="/catatan/{{ i.notes }}">
            <p>{{ i.notes }}</p></li>
        </ul>
        {% endfor %}
</body>
{% endblock %}
</html>
    

