*{
    font-family: 'ABeeZee';
}

.bekgron{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 230px;
    background-image: url("schedule-person.svg"), url("schedule-circ-left.svg");
    background-repeat: no-repeat,no-repeat;
    background-attachment: fixed,fixed;
    background-position: left 302px top 255px, right 80px bottom;;
    
}

.halo{
    background-color: black;
    color: white;
    height: 170px ;
    padding-top: 0;
    position: relative;
    top: 0;
    padding: 45px 8px 6px 30px;
}
.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-style: solid solid none none;
    border-width: 2px;
    overflow-x: hidden;

}

.sidenav a {
    padding: 20px 8px 6px 30px;
    text-decoration: none;
    font-size:18px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color:black;
  }
  .btn-outline-dark{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,0);
    color: black;
  }
  .container h1{
    font-size: 72px;
    padding-top: 35px;
    padding-left: 50px;
  }

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  #tabil{
    background-color: rgb(255, 229, 136);
    color: rgb(14, 12, 12);
    width: 57%;
}

#buto{
    background-color: rgb(102, 4, 178);
}

    