{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}


<body>  
  <div class="center_div offset-md-4">
    <form method="POST" class="post-form" action="/jadwalmu/update/{{ data.id }}" >  
            {% csrf_token %}  
        <div class="container">  
    <br>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Ubah Jadwal-Pelajaran</h3>  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Schedule Name:</label>  
        <div class="col-sm-4">  
            <input type="text" name="jadwalpelajaran" required maxlength="20" value="{{ data.jadwalpelajaran}}"/>  
        </div>  
      </div>  
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Deskripsi:</label>  
        <div class="col-sm-4">  
            <input type="text" name="deskripsi"  required maxlength="300" value="{{ data.deskripsi }}" />  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Tanggal:</label>  
        <div class="col-sm-4">  
            <input type="date" name="datetime"  required maxlength="254" value="{{ data.datetime }}" />  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Lokasi:</label>  
        <div class="col-sm-4">  
            <input type="text" name="lokasi" required maxlength="15" value="{{ data.lokasi }}" />  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <a href="/jadwalmu">
          <button type="submit" class="btn btn-success" id="buto">Update</button> 
        </a> 
        </div>  
      </div>  
        </div>  
    </form>  
  </div>

  <div class="bekgron">
  </div>
  
    </body>  

{% endblock %}