{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}
<body>

    {% for i in data %}
    <div class="center_div offset-md-4"> 
            <table style="border:3px solid rgb(172, 59, 224);" class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Nama Pelajaran</th>
                    <td>{{ i.jadwalpelajaran }}</td>
                </tr>
                <tr>
                    <th scope="row">Deskripsi</th>
                    <td>{{ i.deskripsi }}</td>
                </tr>
                <tr>
                    <th scope="row">Tanggal</th>
                    <td>{{ i.datetime }}</td>
                </tr>
                <tr>
                    <th scope="row">Lokasi</th>
                    <td>{{ i.lokasi }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <div class="center_div offset-md-4"> 
            <a href="/jadwalmu">
                <button type="submit" class="btn btn-success" id="buto">Back</button>
            </a>
            <a href="/jadwalmu/delete/{{ i.jadwalpelajaran }}">
                <button type="submit" class="btn btn-success" id="buto">Delete</button>
            </a>
            <a href="/jadwalmu/edit/{{ i.id }}">
                <button type="submit" class="btn btn-success" id="buto">Edit</button>
            </a>  
            <br>
        </div>
    {% endfor %}
    

</body>
{% endblock %}
